@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}
:root {
  --blue: #2d25a0;
  --white: #ffff;
  --violet: #e02c6d;
}
*::selection {
  color: #fff;
  background-color: #000;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.container {
  padding: 0 15.5rem;
}
/* -----------------------------
Hero section start
------------------------------ */
header {
  background: var(--blue);
}
.hero-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  flex-wrap: wrap;
}
.hero-area .hero-content h1 {
  font-size: 6.4rem;
  color: var(--white);
  font-weight: bold;
}
.hero-area .hero-content button {
  background: var(--violet);
  font-size: 1.6rem;
  padding: 1rem 2.4rem;
  margin-top: 2.7rem;
}
.hero-area .hero-content button:hover {
  padding-right: 3rem;
}
.hero-area .hero-content button a {
  color: var(--white);
}
.hero-area .hero-content button span {
  margin-left: 0.8rem;
}
.hero-area .hero-content button:hover span {
  margin-left: 1.5rem;
}
.hero-area .hero-img img {
  width: 55.6rem;
  height: 45.6rem;
}
.hero-area .hero-img:hover img {
  animation: bounce 5s linear infinite alternate;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/*---------------------------- 
Player section start
----------------------------- */
.player-warper {
  margin: 8rem 0;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 2.8rem;
  grid-column-gap: 3rem;
}
.player-card {
  /* width: 33rem; */
  /* height: 43rem; */
  padding: 1.5rem;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
  /* margin-bottom: 2.7rem; */
}
.player-card .player-img img {
  width: 100%;
  height: 25.6rem;
}

.player-card .player-description h3 {
  color: #18191f;
  font-size: 2.8rem;
  margin: 1.6rem 0 1rem 0;
}
.player-card .player-description p {
  color: #6c6c6c;
  font-size: 1.6rem;
}
/*----------------------------
 hilight section start
--------------------------- */
.hilight-warp {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0 8rem 0;
}
.hilight-warp .hilight-content h1 {
  font-size: 4.8rem;
}
.hilight-warp .hilight-content p {
  color: #6c6c6c;
  font-size: 1.6rem;
  margin: 2rem 0;
}
.hilight-warp .hilight-content button {
  background-color: #e02c6d;
  padding: 1rem 2rem;
  color: var(--white);
}
.hilight-warp .hilight-content a {
  color: var(--white);
  font-size: 1.5rem;
}
.hilight-warp .hilight-img img {
  width: 56.7rem;
  height: 42.7rem;
}
/* -----------------------------
Gallery section :start
------------------------------ */
.gallery-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.gallery-img img {
  width: 100%;
}
/* -----------------------------
Relax section start
----------------------- */
.relax-section {
  margin: 8rem 0;
}
.relax-section h1,
.gallery h1 {
  width: 20rem;
  color: #fdf7f9;
  margin: 1rem auto;
  text-align: center;
  font-size: 2.5rem;
  background-color: #e02c6d;
  padding: 1rem 2rem;
  border-radius: 1rem;
}
.relax-section img {
  width: 100%;
}
/* ----------------------------
footer section start
----------------------------- */
footer {
  text-align: center;
  width: 50%;
  margin: 6rem auto;
}
footer img {
  width: 60%;
}
footer .social-icons {
  margin: 2rem 0;
}
footer .social-icons i {
  font-size: 1.7rem;
  color: #969bab;
  margin: 0 1rem;
  background-color: #969bab70;
  border-radius: 50%;
  padding: 1rem;
}
footer .social-icons i:hover {
  opacity: 80%;
}
footer p {
  font-size: 1.8rem;
  color: #000000;
}

/*------------------------------
 Media Quaries
 ---------------------------- */
/* If the screen size is 600px or less*/
@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
  .container {
    padding: 0 1.6rem;
  }
  .hero-area {
    justify-content: center;
  }
  .hero-area .hero-img img {
    width: 33rem;
    height: 26rem;
  }
  .hero-img {
    padding: 1rem;
    margin-top: 5rem;
  }
  .players {
    grid-template-columns: repeat(1, 1fr);
  }
  .hilight-warp {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .hilight-warp .hilight-img img {
    width: 32.8rem;
    height: 24.8rem;
    margin-top: 2rem;
  }

  footer img {
    width: 100%;
  }
  footer .social-icons i {
    margin: 0 0.5rem;
  }
}
/* If the screen size is 601px or more*/
@media only screen and (min-width: 601px) {
  .players {
    grid-template-columns: repeat(2, 1fr);
  }
  .container {
    padding: 0 1.6rem;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) {
  .players {
    grid-template-columns: repeat(3, 1fr);
  }
  .container {
    padding: 0 15.5rem;
  }
}

/* trying  */
/*--------------------------
 Header section stat
--------------------------- */

/* header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4.3rem !important;
  background: var(--blue);
}
header nav a {
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 500px;
  margin-right: 2.4rem;
}
header button {
  background: var(--violet);
  color: var(--white);
  font-size: 1.6rem;
  padding: 1rem 2.4rem;
} */

/* ------------------------------
Hero section start
-------------------------------- */
